# OS related
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/
#.dev/
*.suo
*.ntvs*
*.njsproj
*.sln
*.code-workspace

# Node.js/Python
node_modules/
__pycache__/
*.log
.env

# Local databases (Do not commit backups/live data.)
*.db
*.sqlite

# Organization Projects
Etiketten-Druckstudio/
labelStudio/